<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Banksy</h1>
		<p class="lead">Your Piggy Bank</p>
	</div>
</div>

<div class="container">

	<div class="loadingBar">
		<h1>$ <span class="saved"></span></h1>


		<img class="rounded img-fluid" src="images/lego placeholder.jpeg" alt="lego">

		<div class="row">
			<div class="col-md-12">
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0%"></div>
				</div>
			</div>
		</div>


	</div>

	<br>

	<!-- Bank (action area) -->
	<!-- <div class="jumbotron"> -->
	<div class="row">

		<div class="col-lg-3">
			<div class="moneyBox">
				<div class="row">
					<div class="col-lg-12">
						<div class="card blue-grey darken-1 ">
							<div class="card-content white-text">
								<h2>Click to add Money</h2>
								<img class="money" data-value=1 src="/images/oneDollar.png" alt="one dollar" width="200px">

								<img class="money" data-value=5 src="/images/fiveDollar.png" alt="five dollar" width="200px">

								<img class="money" data-value=10 src="/images/tenDollar.png" alt="ten dollar" width="200px">

								<img class="money" data-value=20 src="/images/twentyDollar.png" alt="twenty dollar" width="200px">
							</div>

							<div class="card-action">
								<img class="money" data-value=0.01 src="/images/penney.png" alt="penny" width="100px">
								<img class="money" data-value=0.05 src="/images/nickle.png" alt="nickel" width="100px">
								<img class="money" data-value=0.1 src="/images/dime.png" alt="dime" width="100px">
								<img class="money" data-value=0.25 src="/images/quarter.png" alt="quarter" width="100px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9">
			<div class="displayBox">
				<div class="row">
					<div class="col-lg-12">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">

								<div class="row">
									<div class="col-lg-12">
										<h2>Your Account</h2>

										<div class="balances">
											<h4>Your Balance</h4>
											<h1 class="user_balance">$<span class="newTotal">0</span></h1>
											<button type="button" class="submitTotal waves-effect waves-light btn">Submit Total</button>
										</div>

										<div class="searchBox">
											<div class="row">
												<div class="card-action">

													<div class="col-lg-12">
														<span class="card-title">What would you like to save for?</span>
														<input id="searchInput" type="text" name="toy"> <br>
														<input id="submitToy" class="waves-effect waves-light btn" type="submit" value="search">
														<div class="result">
														</div>
													</div>
												</div>

											</div>
										</div>

									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
</div>

</div>
</div>

<!-- search area/ goal finder-->
<!-- search bar/form  -->

<br>

<footer class="page-footer">
	© 2018 Copyright Banksy
</footer>