<div class="container">
    <div class="row">
        <div class="card splashCard">
            <div class="card-image">
                <img class="moneyImg" src="/Splash/money.jpg">
                <span class="card-title">Money Manager</span>
            </div>
            <div class="card-content">
                <!-- <p>Welcome to the Childrens Money Manager! You will first enter the amount of money you have. Then you will pick something
                    you would like to buy. Based on how much youd have, and how much your item costs, we will give you the calcutations
                    on how long it will take to purchase the item based on your chores.</p> -->
                <form role="form">
                    <div class="form-group">
                        <h3>Enter your name to begin the fun! </h3> 
                        <input type="text" class="form-control" id="username" placeholder="Your name">
                        <button id="submit" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>