.list-group-item {
	line-height: 2.5;
}

#searchInput{
	border-radius: 15px;
	background-color: #f8f8f8;
}

.submit{
	width: 8%;
	font-size: 100%;
	background-color: #00a572;
	color: white;
	border-radius: 15px;
}

.searchLabel{
	font-size: 30px;
}

